@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

@font-face {
    font-family: "BrittanySignature";
    src: url("../font/BrittanySignature.otf");
  }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 html {
    scroll-behavior: smooth;
  }

 body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: black;
    background-color: black;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }

 /* HEADER & NAVBAR */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 1% 12%;
    background-color: white;
  }

  .my-name {
    font-family: "BrittanySignature", cursive;
    font-size: 2.5em;
    font-weight: lighter;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: white;
  }

  ul li {
    padding: 0 14px;
  }

  ul li:nth-child(4) {
    padding: 0 0 0 14px;
  }

  a {
    cursor: crosshair;
    text-decoration: none;
    color: black;
    transition: color 0.4s;
  }

  ul li a:hover,
  .my-name a:hover,
  .fa-solid:hover,
  .fa-brands:hover {
    color: teal;
  }

  .underline::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: teal;
    transition: width 0.4s;
    border-radius: 5px
  }

  .underline:hover::after {
    width: 100%;
    transition: width 0.4s;
  }

 /* Prima sezione: WELCOME */
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12%;
  }

  .welcome {
    position: relative;
    justify-content: center;
    min-height: 90vh;
    color: black;
    text-align: center;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,128,128,1) 100%);
  }

  .welcome-img {
    z-index: -999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h2 {
    font-family: "BrittanySignature", cursive;
    font-size: 4.5em;
    font-weight: lighter;
  }

  h2.h2-white {
    color: white;
  }

  h3 {
    font-size: 1.1em;
    padding: 3.5% 0;
    border-top: 3px solid black;
    font-weight: normal;
  }

  h3.h3-white {
    color: white;
    border-top: 3.5px solid white;
    padding: 3.5% 0;
  }

  .fa-solid,
  .fa-brands {
    color: black;
    cursor: crosshair;
    transition: color 0.4s;
  }

/* Seconda sezione: ABOUT */
/* Parte foto, bio e CV */
  .about-pt1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left {
    justify-content: flex-end;
  }

  .left img {
    width: 360px;
    padding-right: 5%
  }

  .right {
    align-items: flex-start;
    padding-left: 10%;
  }

  .btn,
  input[type=submit] {
    font-weight: 500;
    color: white;
    background-color: teal;
    padding: 1.5% 2.5%;
    margin-bottom: 1%;
    border: none;
    cursor: crosshair;
    transition: 0.4s;
  }

  .btn:hover,
  input[type=submit]:hover {
    background-color: black;
  }

/* Parte Skills */
  .about-pt2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10%;
  }

  .card {
    width: 30%;
    background: white;
    transition: 0.4s;
  }

  .h2-card,
  .h2-project {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2.5%;
  }

  .card-header {
    text-align: center;
    padding: 12% 12% 0 12%;
    background-color: white;
  }

  .card-header img {
    width: 35%;
  }

  .card-body {
    padding: 12%;
    text-align: center;
  }

  .card:hover,
  .project-content:hover {
    transform: scale(1.05);
    cursor: context-menu;
  }

/* Terza sezione: PROJECTS */
  .projects {
    background-color: white;
    text-align: center;
  }

  .projects h3 {
    padding: 3.5% 0 0 0;
  }

  .project-content {
    transition: 0.4s;
    padding: 5% 12%;
    background-color: white
  }

  .project1,
  .project2,
  .project3,
  .project4,
  .project5 {
     background-image: url("../img/backgroundcopywriting.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     padding: 5% 12%;
     overflow: hidden;
   }

   .project2 {
     background-image: url("../img/backgroundgrafica.jpg");
   }

   .project3 {
     background-image: url("../img/backgroundwebdesign.jpg");
   }

   .project4 {
     background-image: url("../img/backgrounddiscovery.jpg")
   }

   .project5 {
     background-image: url("../img/backgroundwireframe.jpg")
   }

/* Quarta sezione: CONTACT */
   .contact {
     text-align: center;
   }

   .form {
     justify-content: flex-start;
     text-align: left;
     width: 100%;
     padding: 0 10%;
     color: white;
   }

   .intro {
     display: none;
   }

   .speaker-form {
     width: 100%;
     padding: 5%;
   }

   .form-row {
     margin: 0 0 7% 0;
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
   }

   .form-row input[type='text'],
   .form-row input[type='email'],
   .form-row textarea {
     padding: 1%;
   }

   .form-row label,
   .legacy-form-row legend {
     font-size: 1.1em;
     margin-bottom: 3.5%;
   }

   .form-row input,
   .form-row textarea {
     font-family: monospace;
     font-size: 1.1em;
   }

   .form-row input[type='email']:invalid {
     color: crimson;
   }

   .form-row textarea {
     min-height: 180px;
     resize: none;
     margin: 0;
   }

   .legacy-form-row {
     border: none;
     margin: 0 0 7% 0;
   }

   .legacy-form-row .radio-label {
     display: block;
     font-size: 1.1em;
     padding: 0 5% 0 2%;
   }

   .legacy-form-row input[type='radio'] {
     margin-top: 6px;
   }

   .radio-content {
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
   }

   .message {
     margin: 0 0 3.5% 0;
   }

/* FOOTER */
   footer p {
     font-family: "BrittanySignature", cursive;
     font-size: 1.4em;
   }

   footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     bottom: 0;
     right: 0;
     padding: 1% 12%;
     background-color: white;
     z-index: 999;
   }


/* Media Queries */
/* Mobile */
@media screen and (min-width: 320px) and (max-width: 426px) {
/* HEADER & NAVBAR */
  header,
  .about-pt1,
  footer {
    flex-direction: column;
  }

  .my-name {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2em;
    margin-bottom: 3.5%
  }

  nav ul li {
    font-size: 0.8em;
  }

  ul li:nth-child(4) {
    padding: 0 14px;
  }

/* Prima sezione: WELCOME */
  .welcome {
    min-height: 70vh;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 0.8em;
    border-top: 2px solid black;
  }

/* Seconda sezione: ABOUT */
  .left img {
    width: 250px;
    margin-bottom: 12%;
    padding: 0;
  }

  .right {
    padding: 0 0 12% 0;
  }

  h3.h3-white {
    border-top: 2px solid white;
  }

  .container,
  .card {
    width: 100%;
  }

  .h2-card,
  .h2-project {
    font-size: 1.7em;
    font-weight: lighter;
  }

  .btn,
  input[type=submit] {
    font-size: 0.8em;
  }

/* Quarta sezione: CONTACT */
  .form {
    width: 120%;
    padding: 0;
  }

  .speaker-form {
    width: 80%;
    padding: 5% 0;
  }

  .form-row label,
  .legacy-form-row legend,
  .form-row input,
  .form-row textarea {
    font-size: 0.8em;
  }

  .legacy-form-row .radio-label {
    font-size: 0.7em;
    margin-top: 7px;
  }

  .legacy-form-row input[type='radio'] {
    margin-top: 9px;
  }

  .message {
    margin: 0 0 7% 0;
  }

/* FOOTER */
  footer {
    padding: 3% 12%;
  }

  footer p {
    font-size: 1.2em;
    margin-bottom: 3.5%
  }

  footer .fa-brands,
  footer .fa-solid,
  .welcome .fa-solid {
    font-size: 1.25em;
  }
}

/* Tablet */
@media screen and (min-width: 426px) and (max-width: 769px) {
/* HEADER & NAVBAR */
  header,
  .about-pt1 {
    flex-direction: column;
  }

  .my-name {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  nav ul li:nth-child(4) {
    padding: 0 20px;
  }

/* Prima sezione: WELCOME */
  .welcome {
    min-height: 80vh;
  }

  h2 {
    font-size: 4em;
  }

/* Seconda sezione: ABOUT */
  .left img {
    width: 340px;
    margin-bottom: 12%;
    padding: 0;
  }

  .right {
    padding: 0 0 12% 0;
  }

  .container,
  .card {
    width: 100%;
  }

  .btn,
  input[type=submit]{
    font-size: 0.9em;
  }

/* Quarta sezione: CONTACT */
  .form {
    padding: 0 5%;
  }
}

/* Desktop */
@media screen and (min-width: 769px) and (max-width: 1024px) {
/* Seconda sezione: ABOUT */
  .about-pt1 {
    flex-direction: column;
    justify-content: center;
  }

  .left img {
    margin-bottom: 12%;
  }

  .about-pt2 {
    flex-direction: column;
    padding: 10%
  }

  .card {
    width: 100%;
  }

}
